{% comment %} Liquid Learning {% endcomment %}
 <style> 
    * {
        font-weight: bold; 
        font-size: 2rem;
    }
<div class="wrapper">
{% comment %} assign and captured are the keywords to make variablres {% endcomment %}
  {% assign mystring = 'Hello world!' %}
  {{ mystring }}
  <h3>
  {% capture mySecondString %}
    This is My Second String
    {% endcapture %}
    {{ mySecondString }}
</h3>
</div>
